body.sub-page {
    padding-top: 9.8rem;
} 

body.sub-page .gnbWrap .depth {
    display: none;
}


#sub-visual {
    width: 100%;
    position: relative;
    padding: 22.2rem 0;
}

#sub-visual.sub01-visual {
    background: url(/html/images/contents/sub01-visual.jpg)no-repeat center center / cover;
}

#sub-visual.sub02-visual {
    background: url(/html/images/contents/sub02-visual.jpg)no-repeat center center / cover;
}

#sub-visual.sub03-visual {
    background: url(/html/images/contents/sub03-visual.jpg)no-repeat center center / cover;
}

#sub-visual.sub04-visual {
    background: url(/html/images/contents/sub04-visual.jpg)no-repeat center center / cover;
}

#sub-visual .sub-visual-txt {
    text-align: left;
    width: 50%;
}

#sub-visual .sub-visual-txt .title {
    display: block;
    font-size: 4.8rem;
    font-weight: 700;
    color: #fff;
    font-family: 'Montserrat';
    line-height: 1.15;
    text-transform: uppercase;
}

#sub-visual .sub-visual-txt .desc {
    font-size: 3rem;
    color: #fff;
    font-weight: 500;
    line-height: 4.5rem;
    margin-top: 2rem;
}


/* location */

.location {
    width: 100%;
    height: 6.4rem;
    position: relative;
    background: #fff;
    z-index: 2;
}

.location.fixed {
    top: 9.8rem;
    left: 0;
    position: fixed;
    animation: slide-down 0.5s;
    z-index: 100;
}

.location::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #D9D9D9;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* 
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .location::after {
        bottom: auto;
    }   
} */

.location .layout {
    padding: 0;
}

.location .home {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 8.5rem;
}

.location .home::after {
    display: block;
    content: "\e93e";
    font-family: 'xeicon';
    position: absolute;
    right: -.7rem;
    line-height: 6.4rem;
    top: 0;
    font-size: 1.4rem;
    color: #555;
}

.location .home a {
    display: block;
    width: 8.5rem;
    height: 6.4rem;
    line-height: 6.4rem;
    position: relative;
}

.location .home a::after {
    display: block;
    content: "";
    width: 1.8rem;
    height: 1.6rem;
    background: url(/html/images/icon/home.svg)no-repeat center center / contain;
    position: absolute;
    top: calc(50% + .1rem);
    left: 50%;
    transform: translate(-50%,-50%);
}

.location .location-list {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    z-index: 1;
}


.location .location-list.etc .state span {
    padding-right: 0;
}

.location .location-list.etc .state span::before {
    display: none;
}

.location .location-list::after {
    display: block;
    content: "";
    clear: both;
}

.location .location-list>li {
    display: block;
    float: left;
    position: relative;
}

.location .location-list .state {
    display: block;
    position: relative;
    font-weight: 500;
    min-width: 19.4rem;
    line-height: 6.4rem;
    z-index: 3;
    text-align: center;
    padding: 0 2rem;
}

.location .location-list a {
    display: block;
    color: #333;
    position: relative;
    font-weight: 400;
    outline: none;
}

.location .location-list .state span {
    display: block;
    position: relative;
    z-index: 2;
    font-weight: 500;
    color: #333;
    font-size: 1.8rem;
}
/* 
.location .location-list .state span::after {
    display: block;
    font-family: 'xeicon';
    position: absolute;
    right: -.7rem;
    top: 0;
} */

.location .location-list .state span::after {
    display: block;
    font-family: 'xeicon';
    position: absolute;
    content: "\e936";
    top: 0;
    right: -2rem;
    transform: rotate(0);
    transition: .3s;
    line-height: 6.4rem;
    font-size: 1.4rem;
    color: #555;
}

.location .location-list .slidedown {
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    width: 100%;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    background: #f9f9f9;
    box-shadow: 0px 0px 1rem rgba(0,0,0,0.07);
    border: 1.5px solid #EF8009;
    padding: 2.2rem 4.3rem;
}

.location .location-list .slidedown > ul > li {
    margin-bottom: 1rem;
}

.location .location-list .slidedown > ul > li:last-of-type {
    margin-bottom: 0;
}


/* location hover,active */

.location .location-list li.active .state span {
    color: #ef8009;
}

.location .location-list li.active .state span::after {
    color: #EF8009;
    transform: rotate(180deg);
}

.location .location-list>li.active .slidedown {
    visibility: visible;
    opacity: 1;
    z-index: 3;
}

.location .location-list .slidedown a:hover span {
    color: #ef8009;
}

.depth-btn {
    margin: 4.3rem 0;
}

.depth-btn ul {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.depth-btn ul li {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    position: relative;
}

.depth-btn ul li a {
    display: block;
    padding: 1.5rem 1rem;
    font-size: 1.8rem;
    letter-spacing: -0.05em;
    font-weight: 400;
    color: #555;
    position: relative;
}

.depth-btn ul li::after,
.depth-btn ul li:nth-of-type(1)::before {
    display: block;
    content: "";
    width: 1px;
    height: 30%;
    background: #B5B5B5;
    position: absolute;
    top: 50%;
    right: -0.5px;
    transform: translateY(-50%);
}

.depth-btn ul li:nth-of-type(1)::before {
    right: auto;
    left: -0.5px;
}

.depth-btn ul li.active::after,
.depth-btn ul li:nth-of-type(1).active::before {
    display: none;
}

.depth-btn ul li.active a {
    color: #fff;
    font-weight: 700;
    background:#EF8009;
    box-shadow: 0 .5rem 1rem rgba(167,99,27,0.41);
    border-radius: 1.5rem;
}

.bullet {
    margin-top: 1rem;
}

.bullet > li {
    position: relative;
    padding-left: 1.2rem;
    line-height: 2.5rem;
    font-weight: 400;
}

.bullet > li::before {
    display: block;
    content: "";
    width: .6rem;
    height: 2px;
    background: #555;
    position: absolute;
    top: 1.05rem;
    left: 0;
}

.bullet-depth > li {
    position: relative;
    margin-top: .5rem;
    font-size: 1.4rem;
    padding-left: 1.25rem;
}

.bullet-depth > li::before {
    display: block;
    content: "";
    width: .5rem;
    height: .5rem;
    border: 1px solid #707070;
    position: absolute;
    top: .9rem;
    left: 0;
    border-radius: 50%;
}

.btn {
    text-align: center;
    margin: 3.7rem 0;
}

.btn a {
    display: inline-block;
    width: 21.5rem;
    height: 5.6rem;
    line-height: 5.6rem;
    background: #EF8009;
    text-align: center;
}

.btn a span {
    display: inline-block;
    position: relative;
    font-size: 1.7rem;
    color: #fff;
    letter-spacing: -0.035em;
    padding-right: 3.5rem;
}

.btn a span::after {
    display: block;
    font-family: 'xeicon';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 1.7rem;
    color: #fff;
}

.btn a.more span::after {
    content: "\e913";
}

/* common */
#sub {
    padding: 10rem 0 15rem;
    letter-spacing: 0;
    position: relative;
    z-index: 1;
}

.sub-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 7rem;
    text-align: center;
    padding-top: 3rem;
    position: relative;
}

.sub-title::before {
    display: block;
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background: #EF8009;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}


.box-title {
    display: block;   
    font-size: 2.8rem;
    font-weight: 600;
    color:#000;
    margin-bottom: 3rem;
}

.table-contents > div {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 1px solid #ccc;
    padding: 8.3rem 0;
}

.table-contents > div:last-of-type {
    border-bottom: none;
}

.table-contents > div > div {
    display: table-cell;
    vertical-align: middle;
}

.table-contents .title {
    width: 49rem;
}

.table-contents .title img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5rem;
}

.table-contents .title img + span {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-weight: 600;
    font-size: 2.5rem;
}

.table-contents .title.eng img {
    margin-right: 3rem;
    width: 4.7rem;
    vertical-align: top;
}

.table-contents .title.eng img + span {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 3rem;
    font-weight: 700;
    vertical-align: top;
    line-height: 1.75;
}

.table-contents .title strong {
    display: block;
    font-size: 3.5rem;
    color: #000;
    line-height: 1.5;
    font-weight: 600;
}

.table-contents .title strong sub {
    color: #EF8009;
    font-size: 5rem;
    position: relative;
    top: -.5rem;
}

.table-contents .info {
    width: calc(100% - 49rem);
}

.table-contents .info .item {
    color: #555;
    line-height: 1.5;
}

.table-contents .info .desc {
    font-size: 2rem;
    color: #555;
    line-height: 1.7;
    margin-bottom: 3rem;
}

.table-contents .info .desc:last-of-type {
    margin-bottom: 0;
}

.table-contents .import {
    padding: 7.3rem 0;
}

.table-contents .import > div {
    vertical-align: top;
} 

.table-contents .import .info .desc {
    font-size: 2.2rem;
    font-weight: 500;
}

.table-contents .import .info .desc strong {
    color: #EF8009;
}

.table-contents .block {
    display: block;
    padding: 0;
    border-bottom: none;
}

.table-contents .block > div {
    display: block;
}

.table-contents .effect {
    border-bottom: 1px solid #ccc !important;
}

.number-list {
    margin: -4rem -7.5rem;
}

.number-list > div {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: -4px;
    padding: 4rem 7.5rem;
}

.number-list.full > div {
    display: block;
    width: 100%;
    margin-right: 0;
}

.number-contents {
    position: relative;
    color: #555;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
}

.number-contents .number-title {
    position: relative;
    padding-right: 9rem;
}

.number-contents .number {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    color: #ccc;
    font-family: 'Montserrat';
    margin-bottom: .35rem;
}

.number-contents .title {
    display: block;
    font-size: 2.2rem;
    color: #000;
    font-weight: 600;
    width: 100% !important;
}

.number-contents .title-desc {
    font-weight: 500;
    display: block;
    margin-top: .75rem;
}

.number-contents .number-title .icon {
    position: absolute;
    width: 5.2rem;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    max-height: 100%;
    text-align: center;
}


.number-contents .number-title .icon img {
    vertical-align: middle;
}

.number-contents .number-title .title {
    margin-bottom: 0;
}

.number-contents .bullet > li {
    font-size: 1.5rem;
} 

.number-contents .bullet > li:last-of-type {
    margin-bottom: 0;
}

.number-contents.import .number-title .title {
    color: #EF8009;
}

/* contents */
 

/* 회사소개 */

.intro .table-contents .import {
    padding-top: 0;
    border-bottom: none;
} 

/* 인사말*/

.greeting-bg img {
    vertical-align: top;
}

.greeting-txt {
    line-height: 1.75;
}

.greeting-txt .topic {
    display: block;
    margin: 4rem 0;
    font-size: 2rem;
    font-weight: 600;
}

.greeting-txt .topic span {
    color: #EF8009;
}

.greeting-txt p {
    color: #555;
    margin-bottom: 3rem;
}

.greeting .sign * {
    display: inline-block;
    vertical-align: top;
}

.greeting .sign span {
    font-size: 2rem;
    font-weight: 600;
    margin-right: 1rem;
}

.greeting .sign img {
    width: 8.9rem;
}


/* history */
.history-btn {
    position: relative;
    margin-bottom: 7rem;
}

.history-btn::before {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: #CCC;
    position: absolute;
    top: .83rem;
    left: 0;
}

.history-btn.fixed {
    position: fixed;
    background: #fff;
    top: 16.2rem;
    z-index: 99;
    width: 100%;
    left: 0;
    animation: slide-down 0.5s;
}

.history-btn.fixed::before {
    top: calc(3rem + .83rem);
}

.history-btn.fixed ul {
    width: 128rem;
    margin: auto;
    padding-top: 3rem;
    max-width: 100%;
}

.history-btn.fixed ul li a {
    padding-top: 1rem;
}

.history-btn.fixed .year {
    padding: 2.5rem 0;
} 

.history-btn.fixed .title {
    display: none;
}


.history-btn ul {
    position: relative;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.history-btn ul li {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    text-align: center;
    padding: 0 1rem;
}

.history-btn ul li a {
    display: inline-block;
    position: relative;
    padding-top: 2.6rem;
    color: #A5A5A5;
}

.history-btn ul li a::before,
.history-btn ul li a::after {
    display: block;
    content: "";
    background: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.history-btn ul li a::before {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    border: .5rem solid #A5A5A5;
}

.history-btn ul li a::after {
    display: none;
    width: 5.2rem;
    height: 2.1rem;
    z-index: -1;
}

.history-btn .year {
    display: block;
    padding: 1.35rem 0;
    opacity: 0.9;
    font-weight: 600;
    font-size: 2rem;
}

.history-btn .year .title {
    opacity: 0.9;
    font-weight: 400;
}

.history-btn ul li.active a {
    color: #EF8009;
}

.history-btn ul li.active .year {
    opacity: 1;
}

.history-btn ul li.active .title {
    opacity: 1;
    font-weight: 600;
}

.history-btn ul li.active a::before {
    width: 2.1rem;
    height: 2.1rem;
    border: .5rem solid #EF8009;
    top: -.2rem;
}

.history-btn ul li.active a::after {
    display: block;
}


.history-list {
    position: relative;
    overflow: hidden;
}

.history-list::before {
    content: "";
    display: block;
	position: absolute;
	z-index: -1;
	left:calc(50% - 1px);
    height: 100%;
	top: 0;
	width: 2px;
	background:#C7C7C7;
    transition: .5s;
}

.history-list::after {
    display: block;
    content: "OUR HISTORY";
    font-family: 'Montserrat';
    color: rgba(199,199,199, 0.35);
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    background: #fff;
    font-weight: 700;
    padding: 2.5rem 0;
    z-index: 2;
}

.history-list .history-line {
    display: block;
	position: absolute;
	z-index: 1;
	left:calc(50% - 1px);
    height: 0;
	top: 0;
	width: 2px;
	background:#EF8009;
    transition: .5s;
}

.history-list > ul {
    position: relative;
}

.history-list > ul > li {
    padding: 9rem 0 0;
    position: relative;
    z-index: 3;
}

.history-list > ul > li:last-of-type {
    margin-bottom: 0;
}

.history-list > ul > li > div {
    position: relative;
    margin: 0 -6.5rem;
    padding-top: 2rem;
}

.history-list > ul > li > div::after {
    display: block;
    content: "";
    clear: both;
}

.history-list .title {
    display: block;
    font-size: 3rem;
    color: #EF8009;
    font-weight: 700;
    text-align: center;
    position: relative;
    font-family: 'Montserrat';
    padding: 2.5rem 0 4.4rem;
    background: #fff;
}

.history-list .title::after {
    display: block;
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    border: .3rem solid #A5A5A5;
    border-radius: 50%;
}

.history-list .img {
    transition: .5s .1s;
    opacity: 0;
}

@keyframes cd-bounce-2 {
	0% {
		opacity: 0;
		transform:translateX(-100px);
	}

	60% {
		opacity: 1;
		transform:translateX(20px);
	}

	100% {
		transform:translateX(0);
	}
}

@keyframes cd-bounce-2-inverse {
	0% {
		opacity: 0;
		transform:translateX(100px);
	}

	60% {
		opacity: 1;
		transform:translateX(-20px);
	}

	100% {
		transform:translateX(0);
	}
}

.history-list .img {
    width: 50%;
    padding: 0 6.5rem;
    position: relative;
    float: left;
}

.history-list .img > span {
    display: block;
    width: 100%;
    height: auto;
}

.history-list .txt {
    width: 50%;
    padding: 0 6.5rem;
    position: relative;
    float: left;
}

@keyframes pulse {
	0% {
		transform:translateX(-50%) scale(1,1);
	}
	50% {
		transform: translateX(-50%) scale(1.5,1.5);
	}
	100% {
		transform: translateX(-50%) scale(1,1);
	}		
}

.history-list .txt > div {
    opacity: 0;
    transition: .3s .2s;
    position: relative;
    top: 4rem;
    margin-bottom: 2.4rem;
}

.history-list .txt > div:last-of-type {
    margin-bottom: 0;
}

.history-list .txt .year {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    position: relative;
    font-family: 'Montserrat';
    color: #000;
    margin-bottom: 2rem;
}

.history-list .txt .bullet > li {
    margin-bottom: 1.1rem;
}

.history-list .txt .bullet > li:last-of-type {
    margin-bottom: 0;
}

.history-list ul li.active .txt::after {
    width: 5.6rem;
}

.history-list > ul > li.active .title::after {
    border: .3rem solid #EF8009;
    animation: 500ms ease 0ms forwards 1 pulse;
}

.history-list > ul > li.active .img {
    opacity: 1;
}

.history-list > ul > li.active .txt > div {
    opacity: 1;
    top: 0;
}

.history-list > ul > li:nth-of-type(odd).active .img {
    animation: cd-bounce-2 .6s;
}

.history-list > ul > li:nth-of-type(even).active .img {
    animation: cd-bounce-2-inverse .6s;
}

/* 인증서 */

.certify .board {
    padding: 0;
    border-top:none;
    border-bottom: none;
}

.certify .board-list .img span {
    padding-bottom: 139%;
}

.certify .board-list .img,
.certify .board-list .img::after {
    border-radius: 0;
}

.certify .board-list .img::after {
    background: rgba(0,0,0,0.3);
}

.certify .board-list .txt .title {
    font-size: 2.2rem;
}

/* 레퍼런스 */

.family {
    position: relative;
    background: #F5F5F5;
    padding: 8.2rem 0;
}

.family::before,
.family::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    position: absolute;
    top: 0;
}

.family::before {
    right: 100%;
}

.family::after {
    left: 100%;
}

.family > div {
    margin-bottom: 9rem;
}

.family > div:last-of-type {
    margin-bottom: 0;
}

.family .family-list::after {
    display: block;
    content: "";
    clear: both;
}

.family .family-list {
    margin: -1rem -1.5rem;
}

.family .family-list > li {
    width: 25%;
    float: left;
    padding: 1rem 1.5rem;
}

.family .family-list div {
    display: table;
    table-layout: fixed;
    width: 100%;
    background: #fff;
}

.family .family-list div span {
    display: table-cell;
    vertical-align: middle;
    height: 8rem;
    padding: 0 1rem;
    text-align: center;
}

.family .family-list div span img {
    max-width: 100%;
    max-height: 90%;
}

/* 오시는 길 */

.map {
    position: relative;
}

.map .custom-map {
    width: 100% !important;
}
.map .wrap_map {
    height: 55.7rem !important;
}

.map .wrap_controllers {
    display: none;
} 

.map .main-center {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #EF8009;
    color: #fff;
    padding: 2rem 7rem;
    z-index: 2;
    font-size: 2rem;
    max-width: 100%;
    text-align: center;
}

.map .main-center span {
    display: inline-block;
    position: relative;
    padding-left: 2.5rem;
}

.map .main-center span::before {
    display: block;
    content: "\eb59";
    font-family: 'xeicon';
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}

.direction .map-info > li {
    position: relative;
    color: #555;
    margin-bottom: 1.5rem;
}

.direction .map-info > li:last-of-type {
    margin-bottom: 0;
}

.direction .map-info strong {
    display: inline-block;
    width: 15.5rem;
    margin-right: -4px;
    vertical-align: top;
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
    position: relative;
    padding-left:3rem;
}

.direction .map-info strong::before {
    display: block;
    font-family: 'xeicon';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #A5A5A5;
}

.direction .map-info li.address strong::before {
    content: "\eb59";
}

.direction .map-info li.call strong::before {
    content: "\e9d3";
}

.direction .map-info li.fax strong::before {
    content: "\e9bc";
}

.direction .map-info li.email strong::before {
    content: "\ea06";
}

.direction .map-info li.homepage strong::before {
    content: "\e900";
}

.direction .map-info span {
    display: inline-block;
    font-variant-numeric: top;
    width: calc(100% - 15.5rem);
    margin-right: -4px;
    color: #555;
}

/* 인사이트 */

.search-area {
    background: #F5F5F5;
    border-radius: 1rem;
    padding: 3.3rem;
    margin-bottom: 4.3rem;
}

.search-area .search-box {
    width: 97.5rem;
    max-width: 100%;
    position: relative;
    display: block;
    margin: auto;
}

.search-area .search {
    position: relative;
    padding-right: 11.2rem;
} 

.search-area .search input {
    width: 100%;
    padding: 1.5rem 0;
    height: auto;
    font-size: 1.8rem;
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    font-family: 'Pretendard';
} 

.search-area .search button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #000;
    box-shadow: 0 .3rem .6rem rgba(0,0,0,0.16);
    width: 9.7rem;
    border-radius: 1rem;
}

.search-area .search button span {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: 'Pretendard';
}

.search-area .search-keyword {
    margin-top: 1.5rem;
    margin-bottom: -.5rem;
}

.search-area .search-keyword a {
    display: inline-block;
    padding: .5rem 1.2rem;
    border: 1px solid #EF8009;
    border-radius: 1rem;
    color: #EF8009;
    font-weight: 500;
    font-size: 1.4rem;
    background: #fff;
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.search-area .search-keyword a:hover {
    background: #ef8009;
    color: #fff;
}

.search-result {
    text-align: center;
    font-size: 2.6rem;
    letter-spacing: -0.035em;
    color: #484747;
    margin-bottom: 1.5rem;
}

.search-result span.search-name {
    color: #000;
    font-weight: 600;
}

.search-result span.search-count {
    color: #EF8009;
    font-weight: 500;
}

/* 제품소개 */

.video iframe {
    width: 100%;
    height: 64.2rem;
}


/* 제품 컨텐츠 */ 


/* 제품소개 */
#sub-visual.sub03-visual {
    padding: 16rem 0 10rem;
}

.product-visual {
    overflow: hidden;
    position: relative;
}

.product-visual > * {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-right: -4px;
}

#sub-visual .product-visual {
    width: calc(100% + 4px);
}

#sub-visual .product-visual .sub-visual-txt .title {
    font-size: 8rem;
}

#sub-visual .product-visual .sub-visual-txt .title span {
    font-size: 3rem;
    display: block;
    font-weight: 400;
    font-family: 'Pretendard';
    margin-bottom: 1rem;
}

#sub-visual .product-visual .sub-visual-txt .desc {
    font-size: 2.6rem;
    line-height: 4rem;
    letter-spacing: -0.025em;
    margin-top: 1rem;
}

#sub-visual .product-visual .img {
    padding-left: 5%;
}

/* 제품 네비게이션 */
#product-navi {
    position: fixed;
    z-index: 100;
    top: 50%;
    opacity: 1;
    transform: rotate(90deg) translateY(-50%);
    -webkit-transform: rotate(90deg) translateY(-50%);
    left: -25rem;
    margin-top: 0 !important;
    z-index: 10;
}

#product-navi ul {
    white-space: normal;
}

#product-navi li {
    display: inline-block;
    position: relative;
}

#product-navi li a {
    display: block;
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #2E2E2E;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    padding: 0 2.8rem;
}

#product-navi li a::after {
    display: block;
    content: "";
    position: absolute;
    width: .6rem;
    height: .6rem;
    background: #EF8009;
    left: 50%;
    top: -2rem;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: .3s;
    opacity: 0;
}

#product-navi li.active a::after {
    opacity: 1;
}

.product {
    margin: -6.6rem 0 -15rem;
}

.product-title {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
    color: #000;
    margin-bottom: 3.2rem;
    padding: 0 15rem;
}

.product-title + span {
    display: block;
    margin-top: -2.2rem;
    color: #C4C4C4;
    font-size: 2.2rem;
    letter-spacing: -0.025em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 3.2rem;
}

/* 제품소개 > 주요기능 */ 

#product-function .product-function-list {
    position: relative;
}

#product-function .slick-arrow {
    position: absolute;
    top: 8.75rem;
    text-indent: -9999px;
    vertical-align: top;
    font-size: 0;
    z-index: 2;
}

#product-function .slick-arrow.prev {
    left: 0;
}

#product-function .slick-arrow.next {
    right: 0;
}

#product-function .slick-arrow::after {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    background: #717171;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 3.6rem;
    font-size: 1.6rem;
    font-family: 'xeicon';
    text-indent: 0;
}

#product-function .slick-arrow.prev::after {
    content: "\e93b";
} 

#product-function .slick-arrow.next::after {
    content: "\e93e";
} 

.tab-btn-slider {
    width: 100%;
    padding: 0 6.2rem;
    position: relative;
    overflow: hidden;
}

.tab-btn-slider .slick-list {
    overflow: hidden;
}

.tab-btn {
    position: relative;
    padding: 8.3rem 0;
}

.tab-btn strong {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.tab-btn strong span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    height: 5rem;
    font-size: 1.8rem;
    letter-spacing: -0.05em;
    font-weight: 400;
    color: #555;
    position: relative;
    cursor: pointer;
}

.tab-btn::after,
.tab-btn-slider .slick-slide:nth-of-type(1) .tab-btn::before {
    display: block;
    content: "";
    width: 1px;
    height: 2rem;
    background: #B5B5B5;
    position: absolute;
    top: 50%;
    right: -0.5px;
    transform: translateY(-50%);
}

.tab-btn::before {
    right: auto;
    left: -0.5px;
}

.slick-current .tab-btn::after,
.slick-current.slick-slide:nth-of-type(1) .tab-btn::before {
    display: none;
}

.slick-current .tab-btn strong span {
    color: #fff;
    font-weight: 700;
    background:#EF8009;
    box-shadow: 0 .5rem 1rem rgba(167,99,27,0.41);
    border-radius: 1.5rem;
}

#product-function {
    position: relative;
}

#product-function .function-layout::after {
    display: block;
    content: "";
    clear: both;
}

#product-function .function-layout {
    margin: 0 -3rem;
}

#product-function .function-layout > div {
    width: 50%;
    padding: 0 3rem;
    float: left;
}

#product-function .img span {
    display: block;
    width: 100%;
    position: relative;
}

#product-function .img iframe {
    width: 100%;
}

#product-function .img img {
    width: 100%;
}

#product-function .txt .desc {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.5rem;
}

#product-function .txt .bullet {
    margin-top: 2.5rem;
}

#product-function .txt .bullet > li {
    font-size: 1.8rem;
    font-weight: 400;
    color: #777;
    line-height: 2.6rem;
}

/* 제품소개 > 레퍼런스 */

#product-reference {
    padding: 15rem 0;
}

#product-reference .table-contents .import .info .desc {
    position: relative;
}

#product-reference .table-contents .import .info .desc::before,
#product-reference .table-contents .import .info .desc::after {
    display: block;
    content: "";
    width: 8.9rem;
    height: 6rem;
    position: absolute;
    z-index: -1;
}

#product-reference .table-contents .import .info .desc::before {
    top: -3.3rem;
    left: -6rem;
    background: url(/html/images/contents/lquot.svg)no-repeat center center / contain;
}

#product-reference .table-contents .import .info .desc::after {
    bottom: 0;
    right: 0;
    background: url(/html/images/contents/rquot.svg)no-repeat center center / contain;
}

#product-reference .thum {
    width: calc(100% + 4px);
    margin-top: 3.1rem;
}

#product-reference .thum .img {
    display: inline-block;
    width: 7.6rem;
    height: 7.6rem;
    margin-right: -4px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}

#product-reference .thum .img img {
    border-radius: 50%;
}

#product-reference .thum .name {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 7.6rem);
    padding-left: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -0.025em;
    color:#555;
    font-family: 'Montserrat';
}
/* 
#product-reference .reference-icon::after {
    display: block;
    content: "";
    clear: both;
} */

#product-reference .reference-icon {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#product-reference .reference-icon > div {
    display: table-cell;
    text-align: center;
    border-right: 1px dashed #A5A5A5;
    padding: 0 3rem;
}

#product-reference .reference-icon > div:last-of-type {
    border-right: none;
}

#product-reference .reference-icon .img {
    margin-bottom: 2.8rem;
}

#product-reference .reference-icon .txt > p {
    font-size: 2rem;
    font-weight: 500;
    color: #555;
}

#product-contents {
    padding: 15rem 0;
    background: #F5F5F5;
    position: relative;
    margin: 0 -2rem;
}

#product-contents::before,
#product-contents::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #f5f5f5;
}

#product-contents::before {
    left: 100%;
}

#product-contents::after {
    right: 100%;
}

#product-contents .product-contents-slider {
    margin: -4rem 0;
}

#product-contents .slick-slide {
    padding: 4rem 2rem;
}

#product-contents .slick-dots {
    position: absolute;
    right: 2rem;
    bottom: calc(100% + .5rem);
}

#product-contents .slick-dots li {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    margin-left: 1.1rem;
}

#product-contents .slick-dots li:first-of-type {
    margin-left: 0;
}

#product-contents .slick-dots li:last-of-type {
    margin-right: 0;
}

#product-contents .slick-dots li button {
    display: block;
    width: 8px;
    height: 8px;
    background: #b8b8b8;
    border-radius: 8px;
    text-indent: -99999px;
    transition: .3s;
}

#product-contents .slick-dots li.slick-active button {
    width: 3rem;
    border-radius: 2rem;
    background: #EF8009;
}

#product-contents .product-contents-inner {
    box-shadow: 0 0 2rem rgba(0,0,0,0);
    transition: .3s ease-out;
    top: 0;
    position: relative;
}

#product-contents .img {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 65.25%;
    overflow: hidden;
}  

#product-contents .img img {
    height: 100%;
    width: auto;
    max-width: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

#product-contents .txt {
    background: #fff;
    padding: 2.2rem 2.7rem 6.4rem;
    position: relative;
}

#product-contents .txt strong {
    display: block;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -0.025em;
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
}

#product-contents .txt p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 8.8rem;
    color: #555;
    font-size: 1.6rem;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    margin-top: 1.3rem;
    line-height: 2.2rem;
}
 
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #product-contents .txt p {
        display: block;
    }   
} 

#product-contents .txt::after {
    display: block;
    content: "\e90b";
    font-family: 'xeicon';
    width: 3rem;
    height: 3rem;
    background: #B8B8B8;
    color: #fff;
    position: absolute;
    bottom: 1.7rem;
    right: 2.7rem;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2.9rem;
    border-radius: 50%;
    padding-left: .2rem;
}


#product-contents .slick-current .product-contents-inner {
    box-shadow: 0 0 2rem rgba(0,0,0,0.32);
    top: -2rem;
}

#product-contents .slick-current .txt::after {
    background: #EF8009;
}

#product-inquiry {
    padding: 12rem 0;
    background: url(/html/images/contents/product-inquiry.jpg)no-repeat center bottom 0 / cover;
}

#product-inquiry .product-title {
    color: #fff;
}

#product-inquiry .product-inquiry-btn {
    margin: 4rem -1.4rem 0;
    overflow: hidden;
}

#product-inquiry .product-inquiry-btn > div {
    width: 25%;
    float: left;
    padding: 1.4rem;
}

#product-inquiry .product-inquiry-btn a {
    display: table;
    border: 1px solid #fff;
    padding: 0 3.2rem;
    width: 100%;
}

#product-inquiry .product-inquiry-btn a span {
    display: table-cell;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    text-align: left;
    padding-right: 4rem;
    position: relative;
    padding-top: 1px;
    height: 7.1rem;
    vertical-align: middle;
}

#product-inquiry .product-inquiry-btn a span::after {
    display: block;
    content: "\e90b";
    font-family: 'xeicon';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    background: transparent;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    padding-left: .2rem;
    font-size: 1.6rem;
}

#product-inquiry .product-inquiry-btn a.download span::after {
    content: "\eb7c";
    padding-left: .15rem;
}

#product-inquiry .product-inquiry-btn a:hover {
    background: #fff;
}

#product-inquiry .product-inquiry-btn a:hover span {
    color: #EF8009;
}

#product-inquiry .product-inquiry-btn a:hover span::after {
    background: #EF8009;
}

/* 채용공지 */

.recruit .number-contents .number-title .icon {
    width:auto;
    max-width: 7rem;
}

/* 고객문의 */

.inquiry .table-contents .import {
    padding-top: 0;
}

.inquiry .table-contents > div {
    padding: 7rem 0;
}

.inquiry .inquiry-contents .inquiry-title {
    overflow: hidden;
    color: #000;
}

.inquiry .inquiry-contents .inquiry-title span {
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 600;
    width: 3.5rem;
    margin-right: -4px;
} 

.inquiry .inquiry-contents .inquiry-title span b {
    color: #EF8009;
    font-size: 3rem;
}

.inquiry .inquiry-contents .inquiry-title strong {
    font-size: 1.8rem;
    font-weight: 600;
    display: inline-block;
    width: calc(100% - 3.5rem);
    margin-right: -4px;
} 

.inquiry .inquiry-contents .title-desc {
    margin-top: 1.25rem;
    line-height: 1.5;
    font-weight: 500;
}

.inquiry .btn-wrap {
    margin: 1.5rem 0;
}

.inquiry .btn-wrap a {
    display: inline-block;
    width: 18.8rem;
    height: 4.8rem;
    border: 2px solid #EF8009;
    background: #fff;
    text-align: center;
    margin-right: 1.25rem;
}

.inquiry .btn-wrap a span {
    display: inline-block;
    padding-right: 3rem;
    position: relative;
    color: #EF8009;
    font-weight: 500;
    font-size: 1.6rem;
    vertical-align: top;
    line-height: calc(4.8rem - 2px);
    font-weight: 500;
    letter-spacing: -0.035em;
}

.inquiry .btn-wrap a span::after {
    display: block;
    content: "\e90b";
    font-family: 'xeicon';
    position: absolute;
    top: calc(50% - .175rem);
    right: 0;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: #ef8009;
}

.inquiry .btn-wrap a.type2 {
    border: 2px solid #686868;
}

.inquiry .btn-wrap a.type2 span,
.inquiry .btn-wrap a.type2 span::after {
    color: #686868;
}

.inquiry-contents .bullet {
    margin-top: 1.25rem;
}

/* inquiry hover */
.inquiry .btn-wrap a:hover {
    background: #EF8009;
}

.inquiry .btn-wrap a:hover span,
.inquiry .btn-wrap a:hover span::after {
    color: #fff;
}

.inquiry .btn-wrap a.type2:hover {
    background: #686868;
}

.inquiry .btn-wrap a.type2:hover span,
.inquiry .btn-wrap a.type2:hover span::after {
    color: #fff;
}

.inquiry .sm-title strong {
    color: #A5A5A5;
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
}

.inquiry .sm-title span {
    display: block;
    font-size: 1.6rem;
    color: #000;
}