/* common */
.section {
    position: relative;
}

.section::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* 타이틀 */

.section__title {
    margin-bottom: 5rem;
    color: #fff;
    text-align: center;
}

.section__title strong {
    display: block;
    font-size: 5rem;
    font-weight: 500;
}

.section__title span {
    display: block;
    font-size: 3.9rem;
    font-weight: 400;
}

.section__title p {
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: 1rem;
}

.section__title .section__title--bigger {
    font-size: 6.3rem;
    font-weight: 600;
}

/* 더보기 */
.view-more {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.view-more span {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.05em;
    color: #eee;
    position: relative;
    padding-right: 2.7rem;
}

.view-more span::after {
    display: block;
    content: "\e914";
    font-family: 'xeicon';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 2.6rem;
    color: #eee;
}

.view-more.gray span {
    color: #777;
}

.view-more.gray span::after {
    color: #777;
}

/* 소제목 */

.con-title {
    display: block;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 1.5rem;
}

/* 슬라이더 네비게이션 */

.arrow {
    display: block;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.59);
    position: relative;
}

.arrow::before {
    display: block;
    font-family: 'xeicon';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    color: #fff;
}

.arrow.prev::before {
    content: "\e944";
}

.arrow.next::before {
    content: "\e941";
}

.arrow:hover {
    box-shadow: 0 .3rem .6rem rgba(0,0,0,0.16);
    background: #F79447;
    border: 1px solid #f79447;
}

.state {
    display: inline-block;
    vertical-align: middle;
}

.state button {
    display: none;
    position: relative;
}

.state button.state--active {
    display: block;
}

.state button::before {
    display: block;
    font-family: 'xeicon';
    font-size: 1.6rem;
    color: #fff;
}

.state button.start::before {
    content: "\ea3e";
}

.state button.pause::before {
    content: "\ea3b";
}

.slider-navigation {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.slider-dots {
    display: inline-block;
    vertical-align: middle;
}

.slider-dots .slick-dots {
    overflow: hidden;
}

.slider-dots li {
    display: block;
    margin: .1rem .65rem 0;
    float: left;
}

.slider-dots li.slick-active button {
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0 .3rem .6rem rgba(0,0,0,0.13);
}

.slider-dots li button {
    text-indent: -9999px;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid #E5E0DA;
    cursor: pointer;
}

/* section01 비주얼 */

#section01::before {
    background: url(/resource/images/main/section01-bg.jpg)no-repeat center center / cover;
}

#section01 .visual {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#section01 .section__title {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    width: calc(100% - 45rem);
    padding-right: 5rem;
    text-align: left;
}

#section01 .visual__popup {
    display: table-cell;
    vertical-align: middle;
    width: 45rem;
}

#section01 .popupzone {
    padding-left: 6.8rem;
    position: relative;
}

#section01 .popupzone__navi {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#section01 .popupzone__navi .arrow {
    margin: 1.5rem 0;
}

#section01 .popupzone__slider {
    margin-bottom: -3rem;
}

#section01 .popupzone__slider .slick-slide {
    margin-bottom: 3rem;
}

/* 사이버교육센터 */

.cyber-education {
    position: absolute;
    top: 50%;
    left: calc(100% + 7.2rem);
    transform: translateY(-50%);
    width: 10.4rem;
    border-radius: 1rem;
    background: #fff;
    padding: 2rem 1.4rem;
    text-align: center;
}

.cyber-education img {
    max-width: 100%;
}

.cyber-education__sns {
        margin-top: .5rem;
}

.cyber-education__sns li {
    border-top: 2px dashed #C5C5C5;
}

.cyber-education__sns li a {
    display: block;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -.1em;
    text-align: left;
    padding-left: 2.2rem;
    position: relative;
}

.cyber-education__sns li a::before {
    display: block;
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.cyber-education__sns li.facebook a::before {
    background: url(/resource/images/main/facebook.png)no-repeat center center / cover;
}

.cyber-education__sns li.blog a::before {
    background: url(/resource/images/main/blog.png)no-repeat center center / cover;
}

.cyber-education__sns li.youtube a::before {
    background: url(/resource/images/main/youtube.png)no-repeat center center / cover;
}

/* section02 알림마당 */

#section02::before {
    background: url(/resource/images/main/section02-bg.jpg)no-repeat center center / cover;
}

.slick-track:before, .slick-track:after {
    display: none;
}

#section02 .notification {
    display: table;
    table-layout: fixed;
    width: calc(100% + 10.6rem);
    border-collapse: separate;
    border-spacing: 5.3rem 0;
    margin: 0 -5.3rem;
}

#section02 .notification > div {
    display: table-cell;
    vertical-align: top;
}

#section02 .inner {
    height: 41.2rem;
    overflow: hidden;
    position: relative;
    border-radius: .5rem;
}

/* 알림마당 > 사회서비스중앙지원단 */

#section02 .introduce .inner {
    margin: -2rem 0;
    height: calc(41.2rem + 4rem);
}

#section02 .introduce .inner > div {
    height: 33.3333%;
    padding: 2rem 0;
}

#section02 .introduce__btn {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

#section02 .introduce__btn strong {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    border-spacing: 0;
}

#section02 .introduce__btn strong span {
    display: table-cell;
    vertical-align: middle;
    font-size: 2.4rem;
    font-weight: 500;
    color: #fff;
    height: 100%;
    position: relative;
    padding: 0 5rem;
    padding-right: 12rem;
}

#section02 .introduce__btn strong span::after {
    display: block;
    content: "";
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    right: 5rem;
    transform: translateY(-50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#section02 .introduce__business .introduce__btn strong span::after {
    background-image: url(/resource/images/icon/introduce-icon1.svg);
}

#section02 .introduce__organization .introduce__btn strong span::after {
    background-image: url(/resource/images/icon/introduce-icon2.svg);
}

#section02 .introduce__direction .introduce__btn strong span::after {
    background-image: url(/resource/images/icon/introduce-icon3.svg);
}

#section02 .introduce__business a {
    background: linear-gradient(to bottom, #C5D934, #8BB929);
    box-shadow: 0 .5rem 1rem rgba(108, 159,0,0.3);
}

#section02 .introduce__organization a {
    background: linear-gradient(to bottom, #08DFE6, #0099DB);
    box-shadow: 0 .5rem 1rem rgba(1, 62,88,0.21);
}

#section02 .introduce__direction a {
    background: linear-gradient(to bottom, #F2C327, #F28427);
    box-shadow: 0 .5rem 1rem rgba(183,84,0,0.26);
}

#section02 .cardnews__image img {
    border-radius: .5rem;
}

#section02 .status .inner {
    background: #fff;
    padding: 12px;
    box-shadow: 0 .3rem .6rem rgba(0,0,0, 0.03);
} 

#section02 .status__region {
    width: 215px;
    position: relative;
    margin: auto;
}

#section02 .status__list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#section02 .status__list li {
    position: absolute;
}

#section02 .status__list .Daejeon {
    top: 123px;
    left: 55px;
    z-index: 1;
}

#section02 .status__list .Seoul {
    top: 35px;
    left: 25px;
}

#section02 .status__list .Gyeonggi {
    top: 62px;
    left: 50px;
}

#section02 .status__list .Incheon {
    top: 71px;
    left: 14px;
}

#section02 .status__list .Gangwon {
    top: 35px;
    left: 103px;
}

#section02 .status__list .Sejong {
    top: 103px;
    left: 38px;
}

#section02 .status__list .Chungnam {
    top: 133px;
    left: 10px;
}

#section02 .status__list .Gyeongbuk {
    top: 100px;
    left: 135px;
}

#section02 .status__list .Jeonbuk {
    top: 175px;
    left: 34px;
}

#section02 .status__list .Gwangju {
    top: 215px;
    left: 14px;
} 

#section02 .status__list .Jeonnam {
    top: 256px;
    left: 4px;
} 

#section02 .status__list .Daegu {
    top: 160px;
    left: 121px;
} 

#section02 .status__list .Gyeongnam {
    top: 206px;
    left: 93px;
} 

#section02 .status__list .Busan {
    top: 212px;
    left: 132px;
} 

#section02 .status__list .Ulsan {
    top: 187px;
    left: 159px;
} 

#section02 .status__list .Jeju {
    top: 323px;
    left: 4px;
} 

#section02 .status__list li a {
    display: block;
    width: 51px;
    height: 51px;
    background: url(/resource/images/main/status-default.svg)no-repeat center center / cover;
    padding: 6px 0;
}

#section02 .status__list li a span {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 14px;
    color:#333;
    font-weight: 500;
    padding-top: 6.5px;
}

#section02 .status__popup {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    width: 24rem;
}

#section02 .status__contents {
    position: absolute;
    background: #F79447;
    padding: 1.2rem 1rem;
    border-radius: 1rem;
    width: 100%;
    transform: translateY(0);
    transition: .25s;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

#section02 .status__label {
    display: inline-block;
    width: 4.1rem;
    height: 4.1rem;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: -4px;
    font-weight: 600;
    color: #000;
    line-height: 4.1rem;
}

#section02 .status__link {
    display: inline-block;
    width: calc(100% - 4.1rem);
    vertical-align: middle;
    position: relative;
    padding-left: 1rem;
    padding-right: 2rem;
}

#section02 .status__link span {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: -0.075em;
}

#section02 .status__link a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#section02 .status__link a i {
    color: #fff;
    font-size: 1.6rem;
}

/* status hover,active*/
#section02 .status__list li.active {
    z-index: 1;
}

#section02 .status__list li a:hover,
#section02 .status__list li.active a {
    background: url(/resource/images/main/status-hover.png)no-repeat center center / cover;
}

#section02 .status__list li a:hover span,
#section02 .status__list li.active a span {
    color: #fff;
}

#section02 .status__contents.active {
    transform: translateY(-100%);
    opacity: 1;
    visibility: visible;
    transition: .5s;
}

/* section03 정보마당 */

#section03::before {
    background: url(/resource/images/main/section03-bg.jpg)no-repeat center center / cover;
}

#section03 .information__left .con-title strong {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    padding: 0 2.3rem;
    position: relative;
    color: #eee;
    opacity: 0.8;
    font-weight: 400;
    cursor: pointer;
} 

#section03 .information__left .con-title strong:first-of-type {
    padding-left:0;
}

#section03 .information__left .con-title strong::after {
    display: block;
    content: "";
    width: .4rem;
    height: .4rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: calc(100% - .2rem);
    transform: translateY(-50%);
}

#section03 .information__left .con-title strong:last-of-type::after {
    display: none;
}

#section03 .information {
    display: table;
    table-layout: fixed;
    width: calc(100% + 6.8rem);
    border-collapse: separate;
    border-spacing: 3.4rem 0;
    margin: 0 -3.4rem;
}

#section03 .information > div {
    display: table-cell;
    vertical-align: top;
}

#section03 .information__board > div {
    display: none;
    table-layout: fixed;
    width: calc(100% + 6.8rem);
    margin: 0 -3.4rem;
}

#section03 .information__board > div.active {
    display: table;
}

#section03 .information__boardList {
    display: table-cell;
    background: #fff;
    box-shadow: .5rem .5rem .5rem rgba(0,0,0,0.05);
    border-radius: .5rem;
}

#section03 .information__boardList > a {
    display: block;
    padding: 2.7rem;
}

#section03 .information__board-name {
    position: relative;
    padding-bottom: 2.2rem;
    border-bottom: 1px solid #D6D6D6;
    margin-bottom: 2rem;
}

#section03 .information__board-name .name {
    display: block;
    font-size: 1.8rem;
    color: #333;
    padding: 1rem 0;
    padding-right: 6rem;
}

#section03 .information__board-name .cate {
    position: absolute;
    top: calc(50% - 1.1rem);
    right: 0;
    transform: translateY(-50%);
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 50%;
    text-align: center;
    line-height: 4.7rem;
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
}

#section03 .information__board-thumb .title {
    display: block;
    font-weight: 500;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    margin-bottom: 1.25rem;
}

#section03 .information__board-thumb .desc {
    color: #777;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    height: 17.5rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

#section03 .information__board-thumb .date {
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    color: #777;
    letter-spacing: 0;
    padding-bottom: 2.2rem;
}

#section03 .information__education {
    display: table;
    table-layout: fixed;
    width: calc(100% + 6.8rem);
    margin: -3.4rem -3.4rem 0;
    border-spacing: 3.4rem;
}

#section03 .information__education .education {
    display: table-cell;
    vertical-align: top;
    background: #fff;
    border-radius: .5rem;
}

#section03 .information__education .education > a {
    display: block;
    padding: 2.7rem;
}

#section03 .education__cate span {
    display: inline-block;
    vertical-align: top;
    padding: .2rem 1rem;
    border: 1px solid #D2D2D2;
    color: #666;
    font-weight: 500;
    text-align: center;
    border-radius: .5rem;
}

#section03 .education__cate .education__cate--ing {
    background: #28AAE1;
    border: 1px solid #28AAE1;
    color: #fff;
}

#section03 .education__title {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    margin: 1.25rem 0 1rem;
}

#section03 .education__desc {
    color: #777;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 6.5rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    line-height: 1.35;
}

#section03 .education__date {
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    color: #777;
    letter-spacing: 0;
}

#section03 .schedule {
    background: #fff;
    padding: 2rem 2.7rem;
    border-radius: .5rem;
}

#section03 .schedule__title {
    display: block;
    position: relative;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

#section03 .schedule__calendar {
    position: relative;
    padding-left: 13rem;
    padding-right: 8.3rem;
}

#section03 .schedule__week {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
}

#section03 .schedule__week * {
    display: inline-block;
    vertical-align: middle;
}

#section03 .schedule__week a i {
    font-size: 2.2rem;
    color: #777;
    vertical-align: top;
}

#section03 .schedule__week span {
    padding: 0 1rem;
    font-size: 2.2rem;
    font-weight: 500;
    color: #fff;
    background: #F28427;
    border-radius: .5rem;
}

#section03 .schedule__list {
    display: block;
    width: 100%;
    white-space: nowrap;
    padding: .5rem 0;
    margin:-.5rem 0;
    overflow: hidden;
}

#section03 .schedule__list li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-right: -4px;
    width: 5.5rem;
}

#section03 .schedule__list li a {
    display: block;
    position: relative;
    padding-bottom: 1rem;
}

#section03 .schedule__list li a::before {
    display: block;
    content: "";
    width: .4rem;
    height: .4rem;
    background: #777;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 50%;
}

#section03 .schedule__list li a span {
    font-family: 'Montserrat';
    font-weight: 600;
    position: relative;
    display: block;
    border-radius: 50%;
    margin: auto;
    z-index: 1;
}

#section03 .submit-check {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 8.3rem;
    height: 3.3rem;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    background: #919191;
    border-radius: .5rem;
    line-height: 3.3rem;
}

/* section03 active,hover */

#section03 .information__left .con-title strong.active {
    opacity: 1;
    font-weight: 600;
    color: #fff;
}

#section03 .information__board-name .cate--edu {
    background: #F79447;
}

#section03 .information__board-name .cate--etc {
    background: #8AC651;
}

#section03 .schedule__list li.today a::after {
    display: block;
    content: "";
    width: 3.1rem;
    height: 3.1rem;
    background: #8AC651;
    position: absolute;
    top: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 0;
}

#section03 .schedule__list li.today a span {
    color: #fff;
}

#section03 .schedule__list li.sat a span {
    color: #0099DB;
}

#section03 .schedule__list li.sun a span {
    color: #DC4747;
}